@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-max-width: 1280px;
  --color-coral: #ff7f50;
  --color-black-navie: #0d1116;
  --color-white: #fff;
  --color-grey: #7d8590;
  --color-purple: #6e40c9;
  --color-purple-1: #bc8cff;
  --color-blue: #939aff;
  --color-green: #7ee787;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply relative font-normal;
  }
  
  img { @apply pointer-events-none }

  body {
    @apply bg-black-navie text-white;
  }
}

@layer components {
  .section {
    @apply mx-auto;
    max-width: var(--section-max-width);
  }

  .transition-1 {
    @apply transition-all duration-[.7s] ease-out-quart;
  }
}
